DATABASE_URL=postgresql://postgres:tEfeTJGNgNHZsYstXObddegyPSmOukIX@caboose.proxy.rlwy.net:40605/railway

# Mercado Pago - Sandbox
# Obtén tu access token en: https://www.mercadopago.com.co/developers/panel/app
MERCADO_PAGO_ACCESS_TOKEN=APP_USR-1953084040859895-031711-154b2911a8e800086917491928f0d857-3272218609
NEXT_PUBLIC_MERCADO_PAGO_PUBLIC_KEY=APP_USR-38979465-7fbc-4fdb-8e8c-6cec749406b7
